<?xml version="1.0" encoding="utf-8" ?>
<ScheduleTaskSetting>
  <ScheduleTasks>
    <ScheduleTask>
      <Id>1</Id>
      <Name>Test</Name>
      <Seconds>5</Seconds>
      <Type>T.Web.Frameworks.Tasks.TestTask,T.Web</Type>
      <Enabled>true</Enabled>
      <StopOnError>false</StopOnError>
    </ScheduleTask>
  </ScheduleTasks>
</ScheduleTaskSetting>