
@{
    ViewBag.Title = "系统登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        .table-login > tbody > tr > td .table-login > tr > td {
            padding: 3px;
        }

        .message {
            font-size: 14px;
            color: #ff0000;
            font-weight: bold;
        }
    </style>
}
    <div id="myApp">
        <div class="easyui-dialog" title="用户登录" style="width: 350px; height: 200px;" data-options="iconCls: 'icon-man', resizable: false, modal: true, closable: false">
            <div style="padding:10px 60px 10px 60px">
                <form role="form" v-on:submit.prevent="Login">
                    <table class="table-login">
                        <tr>
                            <td colspan="2" style="font-size:30px;font-weight:bold;text-align:center;">登录</td>
                        </tr>
                        <tr>
                            <td> 帐 号 </td>
                            <td>
                                <input type="text" class="easyui-textbox" name="account" v-model="account" />
                            </td>
                        </tr>
                        <tr>
                            <td> 密 码 </td>
                            <td>
                                <input type="password" class="easyui-textbox" name="password" v-model="password" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right;">
                                <span class="message">{{message}}</span>
                                <button type="submit" class="easyui-linkbutton">登 录</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
@section scripts{
    <script type="text/javascript">
        var app = new Vue({
            el: '#myApp',
            data: {
                message: '',
                account: "",
                password: "",
            },
            methods: {
                Login: function () {
                    Vue.http.post("UserLogin", { account: this.account, password: this.password })
                        .then(function (res) {
                            if (res.IsSuccess) {
                                alert(res.Message);
                            }
                        }, function () {
                            alert("系统错误！");
                        })
                }
            }
        })
    </script>
}
