
@{
    ViewBag.Title = "系统登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        .centerpanel {
            margin: 0 auto;
            width: 400px;
        }

        .message {
            font-size: 14px;
            color: #ff0000;
            font-weight: bold;
        }
    </style>
}
<div class="centerpanel" id="myApp">
    <form role="form" v-on:submit.prevent="Login">
        <table class="table table-bordered" style="width:400px;margin-top:200px;">
            <tr>
                <td colspan="2" style="font-size:30px;font-weight:bold;text-align:center;">登录</td>
            </tr>
            <tr>
                <td>帐号</td>
                <td>
                    <input type="text" class="form-control" name="account" v-model="account" />
                </td>
            </tr>
            <tr>
                <td>密码</td>
                <td>
                    <input type="password" class="form-control" name="password" v-model="password" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:right;">
                    <span class="message">{{message}}</span>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-user"></i>登录</button>
                </td>
            </tr>
        </table>
    </form>
</div>
@section scripts{
    <script type="text/javascript">
        var app = new Vue({
            el: '#myApp',
            data: {
                message: '',
                account: "",
                password: "",
            },
            methods: {
                Login: function () {
                    Vue.http.post("UserLogin", { account: this.account, password: this.password })
                        .then(function (res) {
                            if (res.IsSuccess) {
                                alert(res.Message);
                            }
                        }, function () {
                            alert("系统错误！");
                        })
                }
            }
        })
    </script>
}